<button
  type="button"
  class="px-1 focus:outline-none rounded bg-{{@color}}-400 hover:bg-{{@color}}-500 text-{{@color}}-900 flex items-center justify-center h-8"
  {{on "click" this.onClick}}
  ...attributes
>
  {{#if this.taskIsRunning}}
    <Spinner class="h-6 absolute m-auto" />
  {{/if}}
    <span class={{if this.taskIsRunning "invisible"}}>{{@text}}</span>
</button>
